h1{
    color: mediumseagreen;
    text-align: center ;
}
 body{
    background-image: url("../image/contact_us_image/work.jpg");;
    background-repeat: no-repeat;
    background-size: cover ;
    /* opacity: 0.5;
    filter: alpha(opacity=50); 
    */
} */
.box1{
    text-align: center;
    width: 200px;
    height: 300px ;
    background-color: transparent white ;
}
.card-panel{
    background-color: transparent ;
}