nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

a {
  font-family: 'Bree Serif', serif;
}

h5 {
  font-family: 'Bree Serif', serif;
}

p {
  color: white;
}

button:hover {
  cursor: pointer;
}

#footer-heading {
  margin-top: 10px;
}

#socail li {
  float: left;
}

#i {
  font-size: 38px;
  margin: 5px;
  color: white;
}

#i:hover {
  color: rgb(214, 206, 206);
}


a {
  color: white;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.fab {
  font-size: 15px;
}

.flag {
  margin: 10px;
}

.search {
  text-align: center;
  font-size: 20px;
}

.login-box {
  position: relative;
  margin: 10px auto;
  width: 500px;
  height: 400px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: -2px 5px 21px 3px rgba(0, 0, 0, 0.33);
}

.lb-header {
  position: relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 28px;
}

.lb-header a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

:-moz-placeholder {
  color: black;
}

.lb-header .active {
  color: #029f5b;
  font-size: 18px;
}

.social-login {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 5%;
  text-align: center;
}

.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}

.social-login a:first-child {
  background-color: #49639F;
}

.sidenav-overlay {
  opacity: 0 !important;
  display: none !important;
}

.input-field {
  text-align: center;
}

.social-login a:last-child {
  background-color: #DF4A32;
}

.email-login,
.email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.u-form-group {
  width: 100%;
  margin-bottom: 10px;
}

.u-form-group input[type="email"],
.u-form-group input[type="password"] {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.u-form-group input:focus {
  border-color: #358efb;
}

.u-form-group button {
  width: 50%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}

.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  .login-box {
    position: relative;
    margin: 10px -7px auto;
    width: 370px;
    height: 450px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: -2px 5px 21px 3px rgba(0, 0, 0, 0.33);
  }
}

@media(min-width: 1024px) and (max-width: 1366px) 
{
  nav ul a
  {
    transition: background-color .3s;
    font-size: 10px;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    color: #444;
  }
  .flag {
    margin-top: 20px;
    width: 25px;
  }
}

@media(min-width: 320px) and (max-width: 568px) {
  .lb-header a {
    margin: 0px 17px;
  }
  .social-login a {
    padding: 9px;
  }
  .logo{
    display: none;

  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.postbutton{
  margin: auto;
}
.b1{
  margin-top: 4% ;
  margin-bottom: 7%;
  border-radius: 16px;
  width: 300px;
}
.b2{
  border-radius: 16px;
  width: 300px;
  border: 2px solid white;
  background: transparent;
  margin-left: 10%;
  margin-top: 4% ;
  margin-bottom: 7%;
}
.b1:hover{
  background: transparent;
  border: 2px solid  #00bfa5;
  color: #00bfa5;
  
}
.b2:hover{
  background: white;
  color: #00bfa5;
}
.feature{
  margin-top: 4%;
}
#feaText{
  font-family: 'Bree Serif', serif;
}
.categories-boxes-container {
  width: calc(100% + 20px);
  left: -20px;
  top: -10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.category-small-box {
  background-color: #f7f7f7;
  border-radius: 3px;
  margin: 20px 0 0 20px;
  padding: 20px;
  text-align: center;
  color: #777;
  transition: .4s;
  transform: scale(1);
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 124px;
  overflow: hidden;
}
.category-small-box i {
  color: #26ae61;
}
.category-small-box i {
  font-size: 36px;
  height: 42px;
  transition: .4s;
  color: #505050;
  display: inline-block;
}