.shopify-payment-button__button--hidden {
    visibility: hidden;
  }
  
  .shopify-payment-button__button {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    width: 100%;
    transition: background 0.2s ease-in-out;
  }
  
  .shopify-payment-button__button[disabled] {
    opacity: 0.6;
    cursor: default;
  }
  
  .shopify-payment-button__button--unbranded {
    background-color: #1990c6;
    padding: 1em 2em;
  }
  
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: #136f99;
  }
  
  .shopify-payment-button__more-options {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
  }
  
  .shopify-payment-button__more-options:hover:not([disabled]) {
    text-decoration: underline;
  }
  
  .shopify-payment-button__more-options[disabled] {
    opacity: 0.6;
    cursor: default;
  }
  
  .shopify-payment-button__button--branded {
    display: flex;
    flex-direction: column;
    min-height: 44px;
    position: relative;
    z-index: 1;
  }
  
  .shopify-payment-button__button--branded .shopify-cleanslate {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .spr-form-input a{
    color: orange;
  }